force-app/main/default/flows/After_Save_Generar_Recibos_Plan_Pago.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_Recibo</name>
        <label>Construir y agregar recibo a colección</label>
        <locationX>528</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>varNuevoRecibo.Plan_de_Pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNuevoRecibo.Numero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNuevoRecibo.Monto_programado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmMontoPorRecibo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNuevoRecibo.Fecha_programada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmFechaRecibo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecibosCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNuevoRecibo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Mas_Recibos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inicializar</name>
        <label>Inicializar contador</label>
        <locationX>528</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>varContador</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_Mas_Recibos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hay_Mas_Recibos</name>
        <label>¿Faltan recibos por generar?</label>
        <locationX>528</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Insertar_Recibos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, insertar colección</defaultConnectorLabel>
        <rules>
            <name>Generar_Siguiente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContador</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Num_recibos__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Recibo</targetReference>
            </connector>
            <label>Sí, generar recibo {!varContador}</label>
        </rules>
    </decisions>
    <description>Pieza 4: Al crear Tech_Plan_de_Pago__c genera N Tech_Recibo_Pago__c distribuidos en pagos mensuales (30 días).</description>
    <environments>Default</environments>
    <formulas>
        <name>frmFechaRecibo</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Fecha_inicio__c} + (({!varContador} - 1) * 30)</expression>
    </formulas>
    <formulas>
        <name>frmMontoPorRecibo</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Monto_total__c} / {!$Record.Num_recibos__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>After Save Generar Recibos Plan Pago {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save Generar Recibos Plan Pago</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insertar_Recibos</name>
        <label>Insertar recibos en bulk</label>
        <locationX>528</locationX>
        <locationY>624</locationY>
        <inputReference>varRecibosCollection</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>404</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inicializar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Num_recibos__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Num_recibos__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Tech_Plan_de_Pago__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNuevoRecibo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tech_Recibo_Pago__c</objectType>
    </variables>
    <variables>
        <name>varRecibosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tech_Recibo_Pago__c</objectType>
    </variables>
</Flow>
