force-app/main/default/flows/Auto_Update_Fianza_After_Endoso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Nueva_Fecha</name>
        <label>Fianza.Fecha_Vigente = Nueva_Fecha</label>
        <locationX>50</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>Get_Fianza.Fecha_Vencimiento_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nueva_Fecha_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Guardar_Fianza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nueva_Prima</name>
        <label>Fianza.Prima_Vigente = Nueva_Prima</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Get_Fianza.Prima_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nueva_Prima__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Nueva_Fecha</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Nuevo_Monto</name>
        <label>Fianza.Monto_Vigente = Nuevo_Monto</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Get_Fianza.Monto_Afianzado_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Nuevo_Monto_Afianzado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Nueva_Prima</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Nueva_Fecha</name>
        <label>Hay nueva fecha de vencimiento</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Guardar_Fianza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Nueva_Fecha_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nueva_Fecha_Vencimiento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nueva_Fecha</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Nueva_Prima</name>
        <label>Hay nueva prima</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Set_Nueva_Fecha</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Nueva_Prima_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nueva_Prima__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nueva_Prima</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Nuevo_Monto</name>
        <label>Hay nuevo monto afianzado</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Set_Nueva_Prima</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Nuevo_Monto_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nuevo_Monto_Afianzado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Nuevo_Monto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Al crear un Endoso de Fianza procesado, actualiza los campos Vigente de la Fianza padre.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Update Fianza After Endoso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Update Fianza After Endoso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fianza</name>
        <label>Obtener Fianza padre</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Nuevo_Monto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Fianza__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fianza__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Guardar_Fianza</name>
        <label>Guardar Fianza actualizada</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>Get_Fianza</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fianza</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.Estado__c}, &quot;Procesado&quot;)</filterFormula>
        <object>Endoso_de_Fianza__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
