force-app/main/default/flows/Before_Save_Fianza_Init.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Fecha_Vigente</name>
        <label>Fecha_Vigente = Fecha_de_Vencimiento</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fecha_Vencimiento_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Vencimiento__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Monto_Vigente</name>
        <label>Monto_Vigente = Monto_Afianzado</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>$Record.Monto_Afianzado_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Monto_Afianzado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Prima_Vigente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Prima_Vigente</name>
        <label>Prima_Vigente = Prima_neta</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prima_Vigente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Prima_neta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fecha_Vigente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Fecha_Vigente</name>
        <label>Poblar Fecha_Vencimiento_Vigente</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Ya tiene, terminar</defaultConnectorLabel>
        <rules>
            <name>Fecha_Vacia_Y_Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Vencimiento_Vigente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Vencimiento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Fecha_Vigente</targetReference>
            </connector>
            <label>Vacia, copiar original</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Monto_Vigente</name>
        <label>Poblar Monto_Afianzado_Vigente</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Set_Prima_Vigente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ya tiene, saltar</defaultConnectorLabel>
        <rules>
            <name>Monto_Vacio_Y_Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Monto_Afianzado_Vigente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monto_Afianzado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Monto_Vigente</targetReference>
            </connector>
            <label>Vacio, copiar original</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Prima_Vigente</name>
        <label>Poblar Prima_Vigente</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Set_Fecha_Vigente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ya tiene, saltar</defaultConnectorLabel>
        <rules>
            <name>Prima_Vacia_Y_Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prima_Vigente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prima_neta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Prima_Vigente</targetReference>
            </connector>
            <label>Vacia, copiar original</label>
        </rules>
    </decisions>
    <description>Before-Save: al crear una Fianza, copia valores actuales (Monto_Afianzado, Prima_neta, Fecha_de_Vencimiento) a los campos vigentes si estan vacios. Usa API names legacy del sandbox.</description>
    <environments>Default</environments>
    <interviewLabel>Before Save Fianza Init {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save Fianza Init</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Monto_Vigente</targetReference>
        </connector>
        <object>Fianza__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
