force-app/main/default/flows/Rollup_Suma_Fianzas_en_Contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Acumular_Monto</name>
        <label>Acumular Monto Afianzado</label>
        <locationX>264</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>varSuma</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Fianzas.Monto_Afianzado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fianzas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Suma</name>
        <label>Reset varSuma a 0</label>
        <locationX>264</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>varSuma</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fianzas</targetReference>
        </connector>
    </assignments>
    <description>Pieza 1: Recalcula Suma_Fianzas__c y Exposicion_del__c en Contract cada vez que una Tech_Fianza__c vinculada es creada o actualizada.</description>
    <environments>Default</environments>
    <interviewLabel>Rollup Suma Fianzas en Contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Suma Fianzas en Contrato</label>
    <loops>
        <name>Loop_Fianzas</name>
        <label>Loop Fianzas del Contrato</label>
        <locationX>264</locationX>
        <locationY>384</locationY>
        <collectionReference>varFianzas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Acumular_Monto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fianzas_del_Contrato</name>
        <label>Obtener Fianzas del Contrato</label>
        <locationX>264</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Suma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Estatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <object>Tech_Fianza__c</object>
        <outputReference>varFianzas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Monto_Afianzado__c</queriedFields>
        <queriedFields>Estatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Actualizar Suma en Contract</label>
        <locationX>264</locationX>
        <locationY>624</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Suma_Fianzas__c</field>
            <value>
                <elementReference>varSuma</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>140</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fianzas_del_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrato__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tech_Fianza__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varFianzas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tech_Fianza__c</objectType>
    </variables>
    <variables>
        <name>varSuma</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
